$DEFAULT_COLOR: #101010;

@mixin details($color) {
  @if $color {
    color: $color;
    border: 2px solid $color;
  } @else {
    color: $DEFAULT_COLOR;
    border: 2px solid $DEFAULT_COLOR;
  }
  width: 200px;
  text-align: center;
  margin: 20px 10px;
  height: 30px;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.ur-container {
  .ur-b-a-details {
    display: flex;
    justify-content: center;
    .ur-basic-details {
      @include details($color: false);
    }
    .ur-additional-details {
      @include details($color: false);
    }
  }
}
