$codeFont: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
  Arial, sans-serif;

$baseFontSize: 16px;

$white: #fff;
$baseColor: #0a121f;
$primaryColor: #490b3d;
$secondaryColor: #bd1e51;
$tartaryColor: #f1b814;
